<!-- Right Center Bias Page -->
<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
  <% include ./partials/cssLink %>
</head>

<body>
  <% include ./partials/menu %>

  <% include ./partials/mediaMenu %>

<h1 id="bias"> Right Center Biases Trending</h1>
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[4].top_image%>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[4].title %></h5>
            <p><%= dummy_data[4].summary %>
            </p>
            <div><a href="<%=dummy_data[4].url%>" class="stretched-link">Link to news</a></div>
          </div>
        </div>
      </div>
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[6].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[6].title %></h5>
            <p><%= dummy_data[6].summary %>
            </p>
            <a href="<%=dummy_data[6].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[2].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[2].title %></h5>
            <p><%= dummy_data[2].summary %>
            </p>
            <a href="<%=dummy_data[2].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[5].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[5].title %></h5>
            <p><%= dummy_data[5].summary %>
            </p>
            <a href="<%=dummy_data[5].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[2].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[2].title %></h5>
            <p><%= dummy_data[2].summary %>
            </p>
            <a href="<%=dummy_data[2].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<% include ./partials/script %>

</html>
