<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
  <% include ./partials/cssLink %>
</head>

<body>
  <% include ./partials/menu %>

  <% include ./partials/mediaMenu %>

<% console.log(dummy_data) %>
<h1 id="bias">Right Biases Trending</h1>
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[0].top_image%>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[0].title %></h5>
            <p><%= dummy_data[0].summary %>
            </p>
            <div><a href="<%=dummy_data[0].url%>" class="stretched-link">Link to news</a></div>
          </div>
        </div>
      </div>
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[1].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[1].title %></h5>
            <p><%= dummy_data[1].summary %>
            </p>
            <a href="<%=dummy_data[1].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[2].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[2].title %></h5>
            <p><%= dummy_data[2].summary %>
            </p>
            <a href="<%=dummy_data[2].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[5].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[5].title %></h5>
            <p><%= dummy_data[5].summary %>
            </p>
            <a href="<%=dummy_data[5].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="<%= dummy_data[4].top_image %>"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0"><%= dummy_data[4].title %></h5>
            <p><%= dummy_data[4].summary %>
            </p>
            <a href="<%=dummy_data[4].url%>" class="stretched-link">Link to News Article</a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card-deck" style="padding: 80px">
      <div class="card" style="border-radius: 40px">
        <img class="card-img-top" src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
          alt="Card image cap" style="border-radius: 40px; padding: 10px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.
            This cnjcndjncjndjncjdnjcndjncjdnjcndjncjdnjcndjncjdncjndjontent is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div> -->
  </div>
</body>
<% include ./partials/script %>

</html>
